#### **Extracting features of 2018 movies from Wikipedia**

In [2]:
#importing library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tmdbv3api import TMDb
import json
import requests
from tmdbv3api import Movie
import warnings
import bs4 as bs
import urllib.request
warnings.filterwarnings('ignore')

In [2]:
!pip install tmdbv3api

Requirement already satisfied: tmdbv3api in c:\users\karti\appdata\local\programs\python\python38\lib\site-packages (1.7.7)
Requirement already satisfied: requests in c:\users\karti\appdata\local\programs\python\python38\lib\site-packages (from tmdbv3api) (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\karti\appdata\local\programs\python\python38\lib\site-packages (from requests->tmdbv3api) (2020.12.5)
Requirement already satisfied: idna<4,>=2.5 in c:\users\karti\appdata\local\programs\python\python38\lib\site-packages (from requests->tmdbv3api) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\karti\appdata\local\programs\python\python38\lib\site-packages (from requests->tmdbv3api) (2.0.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\karti\appdata\local\programs\python\python38\lib\site-packages (from requests->tmdbv3api) (1.26.2)

WARNING: You are using pip version 21.1.2; however, version 22.3.1 is available.
You should consider upgrading via the 'c:\users\karti\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [3]:
#link for dowmloading the movie of 2018 year
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2018"

In [4]:
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [15]:
df1.shape,df2.shape,df3.shape,df4.shape

((74, 6), (63, 6), (70, 6), (66, 6))

In [16]:
#Appending all the above dataframe
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [18]:
df

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2],NaN
1,JANUARY,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3],NaN
2,JANUARY,5,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren...",[4],NaN
3,JANUARY,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5],NaN
4,JANUARY,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6],NaN
...,...,...,...,...,...,...,...
268,DECEMBER,25,Holmes & Watson,Columbia Pictures / Gary Sanchez Productions,Etan Cohen (director/screenplay); Will Ferrell...,NaN,[164]
269,DECEMBER,25,Vice,Annapurna Pictures / Plan B Entertainment,Adam McKay (director/screenplay); Christian Ba...,NaN,[137]
270,DECEMBER,25,On the Basis of Sex,Focus Features,Mimi Leder (director); Daniel Stiepleman (scre...,NaN,[229]
271,DECEMBER,25,Destroyer,Annapurna Pictures,"Karyn Kusama (director); Phil Hay, Matt Manfre...",NaN,[261]
272,DECEMBER,28,Black Mirror: Bandersnatch,Netflix,David Slade (director); Charlie Brooker (scree...,NaN,[262]

<font color='red'>As it is observed in the above table, we do not have the **genre** column so we will get the genre data from IMDb. You will need to create an API key in order to access the API key.</font>

In [3]:
#get your API Key here: https://www.themoviedb.org/settings/api
tmdb = TMDb()
tmdb.api_key = 'c6dca6a9ab9872e59030b30de030e86c' #add your own API key here

In [32]:
result = tmdb_movie.search('Insidious: The Last Key')
movie_id = result[0].id
response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))

In [39]:
response.json()['genres'][0]['name']

'Horror'

In [4]:
tmdb_movie = Movie()
def get_genre(x): #pass in the title of the movies
    genres = []
    result = tmdb_movie.search(x) #the title will be searched in the tmdb_movie
    movie_id = result[0].id #we will match the "id" with the "title"
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key)) #we will get the result from the IMDb data
    data_json = response.json() #we will then convert it to a json file
    if data_json['genres']: #in the json file we will only need to extract the "genre"
        genre_str = " " 
        for i in range(0,len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name']) #we will then add the "genre" to the empty genre list we created above
        return genre_str.join(genres)
    else:
        np.NaN # we will return the results but if we don't find anything we will consider it as a missing value

In [24]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [25]:
df

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.,genres
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2],NaN,Horror Mystery Thriller
1,JANUARY,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3],NaN,Thriller Drama
2,JANUARY,5,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren...",[4],NaN,Action Thriller
3,JANUARY,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5],NaN,Drama History Western
4,JANUARY,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6],NaN,Action Thriller Mystery
...,...,...,...,...,...,...,...,...
268,DECEMBER,25,Holmes & Watson,Columbia Pictures / Gary Sanchez Productions,Etan Cohen (director/screenplay); Will Ferrell...,NaN,[164],Mystery Adventure Comedy Crime
269,DECEMBER,25,Vice,Annapurna Pictures / Plan B Entertainment,Adam McKay (director/screenplay); Christian Ba...,NaN,[137],Thriller Science Fiction Action Adventure
270,DECEMBER,25,On the Basis of Sex,Focus Features,Mimi Leder (director); Daniel Stiepleman (scre...,NaN,[229],Drama History
271,DECEMBER,25,Destroyer,Annapurna Pictures,"Karyn Kusama (director); Phil Hay, Matt Manfre...",NaN,[261],Documentary
272,DECEMBER,28,Black Mirror: Bandersnatch,Netflix,David Slade (director); Charlie Brooker (scree...,NaN,[262],Science Fiction Mystery Drama Thriller TV Movie

In [82]:
#Takin the important columns
data_2018 = df[['Title','Cast and crew','genres']]
data_2018

,Title,Cast and crew,genres
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller
1,The Strange Ones,Lauren Wolkstein (director); Christopher Radcl...,Thriller Drama
2,Stratton,"Simon West (director); Duncan Falconer, Warren...",Action Thriller
3,Sweet Country,"Warwick Thornton (director); David Tranter, St...",Drama History Western
4,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller Mystery
...,...,...,...
268,Holmes & Watson,Etan Cohen (director/screenplay); Will Ferrell...,Mystery Adventure Comedy Crime
269,Vice,Adam McKay (director/screenplay); Christian Ba...,Thriller Science Fiction Action Adventure
270,On the Basis of Sex,Mimi Leder (director); Daniel Stiepleman (scre...,Drama History
271,Destroyer,"Karyn Kusama (director); Phil Hay, Matt Manfre...",Documentary
272,Black Mirror: Bandersnatch,David Slade (director); Charlie Brooker (scree...,Science Fiction Mystery Drama Thriller TV Movie

### **Extract Directors**

In [5]:
def get_director(x):
    if " (director)" in x: #we are getting "director"
        return x.split(" (director)")[0]
    elif " (directors)" in x: #we are getting "directors" with "s"
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0] #we are getting "directors/screenplay"

In [56]:

#let's apply the above function on the "Cast and crew" column
data_2018['director_name'] = data_2018['Cast and crew'].map(lambda x: get_director(x))

### **Actor 1**

In [69]:
data_2018['Cast and crew'][0].split("screenplay")[-1].split(",")[0]

'); Lin Shaye'

In [6]:
# Let define fucntion for extracting actor1
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [55]:
#let's apply the above function on the "Cast and crew" column
data_2018['actor_1_name'] = data_2018['Cast and crew'].map(lambda x: get_actor1(x))

In [52]:
data_2018.head()

,Title,Cast and crew,genres,director_name,actor_1_name
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller,Adam Robitel,Lin Shaye
1,The Strange Ones,Lauren Wolkstein (director); Christopher Radcl...,Thriller Drama,Lauren Wolkstein,Alex Pettyfer
2,Stratton,"Simon West (director); Duncan Falconer, Warren...",Action Thriller,Simon West,Dominic Cooper
3,Sweet Country,"Warwick Thornton (director); David Tranter, St...",Drama History Western,Warwick Thornton,Bryan Brown
4,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller Mystery,Jaume Collet-Serra,Liam Neeson

### **Actor 2**

In [67]:
len(data_2018['Cast and crew'][3].split("screenplay);")[-1].split(","))

2

In [7]:
# Let define fucntion for extracting actor2
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [60]:
#let's apply the above function on the "Cast and crew" column
data_2018['actor_2_name'] = data_2018['Cast and crew'].map(lambda x: get_actor2(x))

### **Actor 3**

In [8]:
# Let define fucntion for extracting actor3
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [62]:
#let's apply the above function on the "Cast and crew" column
data_2018['actor_3_name'] = data_2018['Cast and crew'].map(lambda x: get_actor3(x))

In [63]:
data_2018.head()

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell
1,The Strange Ones,Lauren Wolkstein (director); Christopher Radcl...,Thriller Drama,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus
2,Stratton,"Simon West (director); Duncan Falconer, Warren...",Action Thriller,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan
3,Sweet Country,"Warwick Thornton (director); David Tranter, St...",Drama History Western,Warwick Thornton,Bryan Brown,Sam Neill,NaN
4,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller Mystery,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson

In [73]:
#Rename the movie title 
data_2018 = data_2018.rename(columns={'Title':'movie_title'})

In [74]:
#dataset for 2018 movie final
new_data18 = data_2018.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [75]:
new_data18

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Mystery Thriller,Insidious: The Last Key
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Thriller Drama,The Strange Ones
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,Action Thriller,Stratton
3,Warwick Thornton,Bryan Brown,Sam Neill,NaN,Drama History Western,Sweet Country
4,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller Mystery,The Commuter
...,...,...,...,...,...,...
268,Etan Cohen,Will Ferrell,John C. Reilly,Rebecca Hall,Mystery Adventure Comedy Crime,Holmes & Watson
269,Adam McKay,Christian Bale,Amy Adams,Steve Carell,Thriller Science Fiction Action Adventure,Vice
270,Mimi Leder,Felicity Jones,Armie Hammer,Justin Theroux,Drama History,On the Basis of Sex
271,Karyn Kusama,Nicole Kidman,Sebastian Stan,Toby Kebbell,Documentary,Destroyer
272,David Slade,Fionn Whitehead,Will Poulter,Asim Chaudhry,Science Fiction Mystery Drama Thriller TV Movie,Black Mirror: Bandersnatch

In [76]:
#Fill the missing values
new_data18['actor_2_name'] = new_data18['actor_2_name'].replace(np.nan, 'unknown')
new_data18['actor_3_name'] = new_data18['actor_3_name'].replace(np.nan, 'unknown')

In [77]:
new_data18.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           1
movie_title      0
dtype: int64

In [78]:
#It's good for having lower case
new_data18['movie_title'] = new_data18['movie_title'].str.lower()

In [79]:
#One column with combining evrrything
new_data18['comb'] = new_data18['actor_1_name'] + ' ' + new_data18['actor_2_name'] + ' '+ new_data18['actor_3_name'] + ' '+ new_data18['director_name'] +' ' + new_data18['genres']

## **Extracting features of 2019 movies from Wikipedia**

In [9]:
#Downlaoding the dataset for 2019
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2019"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [116]:
data = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [117]:
data.shape

(245, 6)

In [118]:
data.columns

Index(['Opening', 'Opening.1', 'Title', 'Production company', 'Cast and crew',
       'Ref.'],
      dtype='object')

In [84]:
data['genres'] = data['Title'].map(lambda x: get_genre(str(x)))

In [85]:
#Same taking the important columns
data_2019 = data[['Title','Cast and crew','genres']]

In [86]:
#Extracting director
data_2019['director_name'] = data_2019['Cast and crew'].map(lambda x: get_director(str(x)))

In [87]:
#Extracting actor1
data_2019['actor_1_name'] = data_2019['Cast and crew'].map(lambda x: get_actor1(x))

In [89]:
#Extracting the actor2 from cast and crew
data_2019['actor_2_name'] = data_2019['Cast and crew'].map(lambda x: get_actor2(x))

In [90]:
#Extracting the actor3 from cast and crew
data_2019['actor_3_name'] = data_2019['Cast and crew'].map(lambda x: get_actor3(x))

In [91]:
data_2019.head()

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,Escape Room,"Adam Robitel (director); Bragi F. Schut, Maria...",Horror Thriller Mystery,Adam Robitel,Taylor Russell,Logan Miller,Deborah Ann Woll
1,Rust Creek,Jen McGowan (director); Julie Lipson (screenpl...,Thriller Drama Action Crime,Jen McGowan,Hermione Corfield,Jay Paulson,Sean O'Bryan
2,American Hangman,Wilson Coneybeare (director/screenplay); Donal...,Thriller,Wilson Coneybeare,Donald Sutherland,Vincent Kartheiser,Oliver Dennis
3,A Dog's Way Home,Charles Martin Smith (director); W. Bruce Came...,Drama Adventure Family,Charles Martin Smith,Bryce Dallas Howard,Edward James Olmos,Alexandra Shipp
4,The Upside,Neil Burger (director); Jon Hartmere (screenpl...,Comedy Drama,Neil Burger,Bryan Cranston,Kevin Hart,Nicole Kidman

In [92]:
#Renaming the columns
data_2019 = data_2019.rename(columns={'Title':'movie_title'})

In [93]:
#Extracting the columns which are required for training
new_data19 = data_2019.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [94]:
#Let's fill the missing values
new_data19['actor_2_name'] = new_data19['actor_2_name'].replace(np.nan, 'unknown')
new_data19['actor_3_name'] = new_data19['actor_3_name'].replace(np.nan, 'unknown')

In [95]:
new_data19['movie_title'] = new_data19['movie_title'].str.lower()

In [96]:
new_data19['comb'] = new_data19['actor_1_name'] + ' ' + new_data19['actor_2_name'] + ' '+ new_data19['actor_3_name'] + ' '+ new_data19['director_name'] +' ' + new_data19['genres']

In [97]:
#Joining the dataset of 2018 and 2019 movies
data3 = new_data18.append(new_data19,ignore_index=True)

In [98]:
data3.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Mystery Thriller,insidious: the last key,Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Thriller Drama,the strange ones,Alex Pettyfer James Freedson-Jackson Emily Alt...
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,Action Thriller,stratton,Dominic Cooper Austin Stowell Gemma Chan Simon...
3,Warwick Thornton,Bryan Brown,Sam Neill,unknown,Drama History Western,sweet country,Bryan Brown Sam Neill unknown Warwick Thornton...
4,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller Mystery,the commuter,Liam Neeson Vera Farmiga Patrick Wilson Jaume ...

In [99]:
data3.shape

(518, 7)

In [100]:
#reading the data upto 2017
old_df = pd.read_csv('data2.csv')
old_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
5359,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance Comedy,the incredible jessica james,Jessica Williams Chris O'Dowd Keith Stanfield ...
5360,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,can't buy my love,Adelaide Kane Benjamin Hollingsworth Jean Loui...
5361,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mäntyvaara,Inka Haapamäki Rosa Honkonen Tiitus Rantala Ha...
5362,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit,Lou Diamond Phillips Wallace Shawn Gina Holden...
5363,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...

In [101]:
final_data = old_df.append(data3,ignore_index=True)
final_data

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
5877,"Nick Bruno, Troy Quane",Will Smith,Tom Holland,Rashida Jones,Animation Action Adventure Comedy Family,spies in disguise,Will Smith Tom Holland Rashida Jones Nick Brun...
5878,Greta Gerwig,Saoirse Ronan,Emma Watson,Florence Pugh,Drama Romance History,little women,Saoirse Ronan Emma Watson Florence Pugh Greta ...
5879,Sam Mendes,George MacKay,Dean-Charles Chapman,Mark Strong,War Drama Action History,1917,George MacKay Dean-Charles Chapman Mark Strong...
5880,Destin Daniel Cretton,Michael B. Jordan,Jamie Foxx,Brie Larson,Drama Crime History,just mercy,Michael B. Jordan Jamie Foxx Brie Larson Desti...
5881,Chinonye Chukwu,Alfre Woodard,Wendell Pierce,Aldis Hodge,Drama,clemency,Alfre Woodard Wendell Pierce Aldis Hodge Chino...

In [102]:
#Checking th missing values
final_data.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           1
movie_title      0
comb             1
dtype: int64

In [104]:
final_data = final_data.dropna(how='any')

In [105]:
#Data upto 2019 (movies)
final_data.to_csv('data3.csv',index=False)

## **Extracting features of 2020 movies from Wikipedia**

In [11]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2020"

source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [12]:
tables = soup.find_all('table',class_='wikitable sortable')

In [13]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [14]:
data = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [15]:
data

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,3,The Grudge,Screen Gems / Stage 6 Films / Ghost House Pict...,Nicolas Pesce (director/screenplay); Andrea Ri...,[2],NaN
1,JANUARY,10,Underwater,20th Century Fox / TSG Entertainment / Chernin...,"William Eubank (director); Brian Duffield, Ada...",[3],NaN
2,JANUARY,10,Like a Boss,Paramount Pictures,"Miguel Arteta (director); Sam Pitman, Adam Col...",[4],NaN
3,JANUARY,10,Three Christs,IFC Films,Jon Avnet (director/screenplay); Eric Nazarian...,NaN,NaN
4,JANUARY,10,Inherit the Viper,Barry Films / Tycor International Film Company,Anthony Jerjen (director); Andrew Crabtree (sc...,[5],NaN
...,...,...,...,...,...,...,...
270,DECEMBER,25,We Can Be Heroes,Netflix / Troublemaker Studios / Double R Prod...,Robert Rodriguez (director/screenplay); Priyan...,NaN,[241]
271,DECEMBER,25,News of the World,Universal Pictures / Perfect World Pictures,Paul Greengrass (director/screenplay); Luke Da...,NaN,[242]
272,DECEMBER,25,One Night in Miami...,Amazon Studios,Regina King (director); Kemp Powers (screenpla...,NaN,[243]
273,DECEMBER,25,Promising Young Woman,Focus Features / FilmNation Entertainment,Emerald Fennell (director/screenplay); Carey M...,NaN,[244]
274,DECEMBER,30,Pieces of a Woman,Netflix / Bron Studios,Kornél Mundruczó (director); Kata Wéber (scree...,NaN,[245]

In [16]:
data.shape

(275, 7)

In [17]:
data.columns

Index(['Opening', 'Opening.1', 'Title', 'Production company', 'Cast and crew',
       '.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.',
       'Ref.'],
      dtype='object')

In [21]:
tmdb_movie = Movie() 
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    if not result:
        return np.NaN
    else:
        movie_id = result[0].id
        response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
        data_json = response.json()
        if data_json['genres']:
            genre_str = " " 
            for i in range(0,len(data_json['genres'])):
                genres.append(data_json['genres'][i]['name'])
            return genre_str.join(genres)
        else:
            return np.NaN

In [22]:
data['genres'] = data['Title'].map(lambda x: get_genre(str(x)))

In [23]:
data

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.,genres
0,JANUARY,3,The Grudge,Screen Gems / Stage 6 Films / Ghost House Pict...,Nicolas Pesce (director/screenplay); Andrea Ri...,[2],NaN,Horror Mystery
1,JANUARY,10,Underwater,20th Century Fox / TSG Entertainment / Chernin...,"William Eubank (director); Brian Duffield, Ada...",[3],NaN,Action Horror Science Fiction
2,JANUARY,10,Like a Boss,Paramount Pictures,"Miguel Arteta (director); Sam Pitman, Adam Col...",[4],NaN,Comedy
3,JANUARY,10,Three Christs,IFC Films,Jon Avnet (director/screenplay); Eric Nazarian...,NaN,NaN,Drama
4,JANUARY,10,Inherit the Viper,Barry Films / Tycor International Film Company,Anthony Jerjen (director); Andrew Crabtree (sc...,[5],NaN,Crime Thriller Drama
...,...,...,...,...,...,...,...,...
270,DECEMBER,25,We Can Be Heroes,Netflix / Troublemaker Studios / Double R Prod...,Robert Rodriguez (director/screenplay); Priyan...,NaN,[241],Action Fantasy Family Comedy
271,DECEMBER,25,News of the World,Universal Pictures / Perfect World Pictures,Paul Greengrass (director/screenplay); Luke Da...,NaN,[242],Drama Western Adventure Action
272,DECEMBER,25,One Night in Miami...,Amazon Studios,Regina King (director); Kemp Powers (screenpla...,NaN,[243],Drama
273,DECEMBER,25,Promising Young Woman,Focus Features / FilmNation Entertainment,Emerald Fennell (director/screenplay); Carey M...,NaN,[244],Thriller Crime Drama
274,DECEMBER,30,Pieces of a Woman,Netflix / Bron Studios,Kornél Mundruczó (director); Kata Wéber (scree...,NaN,[245],Drama

In [24]:
#Same taking the important columns
data_2020 = data[['Title','Cast and crew','genres']]
#Extracting director
data_2020['director_name'] = data_2020['Cast and crew'].map(lambda x: get_director(str(x)))
#Extracting actor1
data_2020['actor_1_name'] = data_2020['Cast and crew'].map(lambda x: get_actor1(x))
#Extracting the actor2 from cast and crew
data_2020['actor_2_name'] = data_2020['Cast and crew'].map(lambda x: get_actor2(x))
#Extracting the actor3 from cast and crew
data_2020['actor_3_name'] = data_2020['Cast and crew'].map(lambda x: get_actor3(x))

In [25]:
#Renaming the columns
data_2020 = data_2020.rename(columns={'Title':'movie_title'})

In [26]:
#Extracting the columns which are required for training
new_data20 = data_2020.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [27]:
#Let's fill the missing values
new_data20['actor_2_name'] = new_data20['actor_2_name'].replace(np.nan, 'unknown')
new_data20['actor_3_name'] = new_data20['actor_3_name'].replace(np.nan, 'unknown')

In [28]:
new_data20['movie_title'] = new_data20['movie_title'].str.lower()

In [29]:
new_data20['comb'] = new_data20['actor_1_name'] + ' ' + new_data20['actor_2_name'] + ' '+ new_data20['actor_3_name'] + ' '+ new_data20['director_name'] +' ' + new_data20['genres']

In [30]:
new_data20.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           3
movie_title      0
comb             3
dtype: int64

In [31]:
#Dropping missing values
new_data20 = new_data20.dropna(how='any')

In [32]:
new_data20.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho,Horror Mystery,the grudge,Andrea Riseborough Demián Bichir John Cho Nico...
1,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick,Action Horror Science Fiction,underwater,Kristen Stewart Vincent Cassel Jessica Henwick...
2,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek,Comedy,like a boss,Tiffany Haddish Rose Byrne Salma Hayek Miguel ...
3,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins,Drama,three christs,Richard Gere Peter Dinklage Walton Goggins Jon...
4,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs,Crime Thriller Drama,inherit the viper,Josh Hartnett Margarita Levieva Chandler Riggs...

## **Extracting features of 2021 movies from Wikipedia**

In [33]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2021"

source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [57]:
tables = soup.find_all('table',class_='wikitable sortable')

In [58]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [59]:
data = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [62]:
data['genres'] = data['Title'].map(lambda x: get_genre(str(x)))

In [63]:
data = data[['Title','Cast and crew','genres']]

In [64]:
#Dropping missing values
data = data.dropna(how='any')

In [68]:
# Let define fucntion for extracting actor1

def get_actor1(x):
    
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [65]:
data

,Title,Cast and crew,genres
0,Shadow in the Cloud,Roseanne Liang (director/screenplay); Max Land...,Horror Action War
1,The White Tiger,Ramin Bahrani (director/screenplay); Adarsh Go...,Drama
2,Locked Down,Doug Liman (director); Steven Knight (screenpl...,Comedy Crime Drama
3,The Dig,Simon Stone (director); Moira Buffini (screenp...,Drama History
4,Outside the Wire,"Mikael Håfström (director); Rob Yescombe, Rowa...",Thriller Action Science Fiction
...,...,...,...
355,The King's Man,Matthew Vaughn (director/screenplay); Karl Gaj...,Action Adventure Thriller War Mystery
356,The Tragedy of Macbeth,Joel Coen (director/screenplay); Denzel Washin...,Drama War
357,A Journal for Jordan,Denzel Washington (director); Virgil Williams ...,Drama Romance
358,American Underdog,"Erwin brothers (directors); Jon Erwin, David A...",Drama
359,Memoria,Apichatpong Weerasethakul (director/acreenplay...,Drama Science Fiction Mystery

In [67]:
#Same taking the important columns
data_2021 = data[['Title','Cast and crew','genres']]
#Extracting director
data_2021['director_name'] = data_2021['Cast and crew'].map(lambda x: get_director(str(x)))
#Extracting actor1
data_2021['actor_1_name'] = data_2021['Cast and crew'].map(lambda x: get_actor1(x))
#Extracting the actor2 from cast and crew
data_2021['actor_2_name'] = data_2021['Cast and crew'].map(lambda x: get_actor2(x))
#Extracting the actor3 from cast and crew
data_2021['actor_3_name'] = data_2021['Cast and crew'].map(lambda x: get_actor3(x))

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [69]:
#Renaming the columns
data_2021 = data_2021.rename(columns={'Title':'movie_title'})

In [70]:
#Extracting the columns which are required for training
new_data21 = data_2021.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [71]:
#Let's fill the missing values
new_data21['actor_2_name'] = new_data21['actor_2_name'].replace(np.nan, 'unknown')
new_data21['actor_3_name'] = new_data21['actor_3_name'].replace(np.nan, 'unknown')

In [72]:
new_data21['movie_title'] = new_data21['movie_title'].str.lower()

In [73]:
new_data21['comb'] = new_data21['actor_1_name'] + ' ' + new_data21['actor_2_name'] + ' '+ new_data21['actor_3_name'] + ' '+ new_data21['director_name'] +' ' + new_data21['genres']

In [74]:
new_data21.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [75]:
new_data21.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Roseanne Liang,Chloë Grace Moretz,Taylor John Smith,Beulah Koale,Horror Action War,shadow in the cloud,Chloë Grace Moretz Taylor John Smith Beulah Ko...
1,Ramin Bahrani,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas,Drama,the white tiger,Adarsh Gourav Rajkummar Rao Priyanka Chopra Jo...
2,Doug Liman,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant,Comedy Crime Drama,locked down,Anne Hathaway Chiwetel Ejiofor Stephen Merchan...
3,Simon Stone,Carey Mulligan,Ralph Fiennes,Lily James,Drama History,the dig,Carey Mulligan Ralph Fiennes Lily James Simon ...
4,Mikael Håfström,Anthony Mackie,Damson Idris,Emily Beecham,Thriller Action Science Fiction,outside the wire,Anthony Mackie Damson Idris Emily Beecham Mika...

In [76]:
#Joining the dataset of 2020 and 2021 movies
data4 = new_data20.append(new_data21,ignore_index=True)

In [77]:
old_df = pd.read_csv('data3.csv')

In [78]:
final_data4 = old_df.append(data4,ignore_index=True)

In [79]:
final_data4.to_csv('data4.csv',index=False)

## **Extracting features of 2022 movies from Wikipedia**

In [80]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2022"

source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [81]:
tables = soup.find_all('table',class_='wikitable sortable')

In [88]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [90]:
data

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,7.0,The 355,Universal Pictures / Freckle Films / FilmNatio...,Simon Kinberg (director/screenplay); Theresa R...,[2],NaN
1,JANUARY,7.0,The Legend of La Llorona,Saban Films,Patricia Harris Seeley (director/screenplay); ...,[3],NaN
2,JANUARY,7.0,The Commando,Saban Films,Asif Akbar (director); Koji Steven Sakai (scre...,[4],NaN
3,JANUARY,7.0,American Siege,Vertical Entertainment,Edward Drake (director/screenplay); Timothy V....,[5],NaN
4,JANUARY,14.0,Scream,Paramount Pictures / Spyglass Media Group,"Matt Bettinelli-Olpin, Tyler Gillett (director...",[6],NaN
...,...,...,...,...,...,...,...
326,DECEMBER,30.0,"Alice, Darling",Lionsgate / Elevation Pictures,Mary Nighy (director); Alanna Francis (screenp...,NaN,[262]
327,DECEMBER,NaN,NaN,NaN,NaN,NaN,NaN
328,DECEMBER,NaN,NaN,NaN,NaN,NaN,NaN
329,DECEMBER,NaN,NaN,NaN,NaN,NaN,NaN
330,DECEMBER,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
data = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [91]:
data = data[['Title','Cast and crew']]

In [92]:
#Dropping missing values
data = data.dropna(how='any')

In [93]:
data['genres'] = data['Title'].map(lambda x: get_genre(str(x)))

In [94]:
data

,Title,Cast and crew,genres
0,The 355,Simon Kinberg (director/screenplay); Theresa R...,Action Thriller
1,The Legend of La Llorona,Patricia Harris Seeley (director/screenplay); ...,Horror
2,The Commando,Asif Akbar (director); Koji Steven Sakai (scre...,Action Crime Thriller
3,American Siege,Edward Drake (director/screenplay); Timothy V....,Action Thriller Crime Drama
4,Scream,"Matt Bettinelli-Olpin, Tyler Gillett (director...",Horror Mystery Thriller
...,...,...,...
322,Women Talking,Sarah Polley (director/screenplay); Rooney Mar...,Drama
323,The Pale Blue Eye,Scott Cooper (director/screenplay); Christian ...,Crime Thriller Mystery Horror
324,A Man Called Otto,"Marc Forster (director), David Magee (screenpl...",Drama Comedy
325,They Cloned Tyrone,Juel Taylor (director/screenplay); Tony Retten...,Science Fiction Comedy Mystery
326,"Alice, Darling",Mary Nighy (director); Alanna Francis (screenp...,Thriller Drama

In [95]:
#Same taking the important columns
data_2022 = data[['Title','Cast and crew','genres']]
#Extracting director
data_2022['director_name'] = data_2022['Cast and crew'].map(lambda x: get_director(str(x)))
#Extracting actor1
data_2022['actor_1_name'] = data_2022['Cast and crew'].map(lambda x: get_actor1(x))
#Extracting the actor2 from cast and crew
data_2022['actor_2_name'] = data_2022['Cast and crew'].map(lambda x: get_actor2(x))
#Extracting the actor3 from cast and crew
data_2022['actor_3_name'] = data_2022['Cast and crew'].map(lambda x: get_actor3(x))

In [96]:
#Renaming the columns
data_2022 = data_2022.rename(columns={'Title':'movie_title'})

In [97]:
#Extracting the columns which are required for training
new_data22 = data_2022.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [98]:
#Let's fill the missing values
new_data22['actor_2_name'] = new_data22['actor_2_name'].replace(np.nan, 'unknown')
new_data22['actor_3_name'] = new_data22['actor_3_name'].replace(np.nan, 'unknown')

In [99]:
new_data22['movie_title'] = new_data22['movie_title'].str.lower()

In [100]:
new_data22['comb'] = new_data22['actor_1_name'] + ' ' + new_data22['actor_2_name'] + ' '+ new_data22['actor_3_name'] + ' '+ new_data22['director_name'] +' ' + new_data22['genres']

In [101]:
new_data22.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [102]:
final_data = data4.append(new_data22,ignore_index=True)

In [103]:
final_data.to_csv('main_data.csv',index=False)